body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  background-color: #2C2C2C;
  font-size: 16px;
}

a.post_link {
  position: relative;
  width: fit-content;
  max-width: 70%;
  display: block;

  color: black;
  font-weight: 700;
  font-size: 11px;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  text-decoration: none;
  
  z-index: 1;
}

a.post_link:hover::before {
  bottom: 0px;
  border-bottom: 2px solid;
}

a.post_link::before {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  border-bottom: 1px solid;
}

a.wrapper-link {
  position: absolute;
  left: -1em;
  right: -1em;
  top: -1em;
  bottom: -1em;
  border-radius: 5px;
  transition-duration: 0.25s;
  border: 1px solid;
  border-color: transparent;
}

a.wrapper-link:hover {
  border-color: #EEE;
}

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.2em;
}

.tab-container {
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.tab-container > a {
  width: fit-content;
  display: inline-block;
  text-decoration: none;
}

.post-tab {
  position: absolute;
  right: 20px;
}

.tab {
  width: fit-content;
  padding: 0.1em 0.75em;
  border-radius: 0 0 10px 10px;
  border: 5px solid #6f6373;
  border-top: none;
  background-color: #6F6373;
  color: white;
  text-decoration: none;
}

.window-container {
  position: absolute;
  padding-bottom: 20px;
  bottom: 0;
  top: 40px;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.window {
  background-color: #6F6373;
  filter: drop-shadow(0 3px 3px black);
  max-width: 1000px;
  height: calc(100% - 10px);
  margin: 0px 10px;
  padding: 0;
  border-radius: 20px;
  border: solid 5px #6F6373;
  display: inline-block;
  width: 100%;

  white-space: wrap;
  overflow: auto;
  scroll-margin-left: 20px;
  scroll-margin-right: 20px;
}

.window-content {
  background-color: white;
  height: fit-content;
  min-height: calc(100% - 1px - 2em);
}

.home > .window-content {
  padding-top: 1px;
  min-height: calc(100% - 1px);
}

.window-topbar {
  position: sticky;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  padding: 0.25em 0.5em;

  color: white;
  text-decoration: none;
  font-weight: 600;
}

.windowEnd {
  width: 25vw;
  height: 100%;
  display: inline-block;
}

.banner {
  width: 100%;
  margin-top: -2em;
}

.featured {
  display: flex;
  margin-top: 60px;
}

.featured > .left {
  position: relative;
  flex-grow: 1;
}

.cover-branding {
  position: absolute;
  z-index: 1;
}

.cover {
  position: relative;
  float: right;
  margin-left: 2em;
}

.cover > * {
  float: right;
  text-align: right;
}

.cover > a {
  margin-bottom: 1px;
  float: right;
  color: #aeaeae;
}

.cover-image {
  position: relative;
  width: 100%;
  max-width: 400px;
}


.cover-image > img {
  width: 100%;
}

.cover > h1 {
  margin: 0;
  text-align: right;
  line-height: 1.2em;
}

.featured > .right {
  margin-left: 1.5em; 
  width: 40%;
}

.featured > .right > ol {
  margin-top: 50px;
  margin-bottom: 0px;
}

.featured > .right > ol > li {
  margin: 30px 0;
  padding-left: 0.5em;
}

.featured > .right > ol > li:last-child {
  margin-bottom: 0;
}

.featured > .right > ol > li::marker {
  font-size: 2em;
  font-weight: 800;
}

.featured > .right > ol >li > article {
  position: relative;
  margin-right: 2em;
  bottom: 25px;
}

.featured > .right > ol > li > article > h1 {
  margin: 0;
  font-size: 1.2em;
}

.feed {
  padding: 1.5em;
}

.feed-flex {
  display: flex;
  justify-content: space-between;
}

.feed-flex > .left {
  width: 50%;
}

.feed-flex > .right {
  width: 50%;
  background-color: #EEE;
  border-radius: 20px;
  margin-bottom: 2em;
  max-width: 350px;
}

.post-list {
  padding: 0;
  list-style: none;
}

.post {
  width: 100%;
  max-width: 400px;
  margin: 2em 0;
  display: flex;
  position: relative;
}

.post_left {
  margin-right: 1em;
}

.post_right {
  width: 0;
  flex-grow: 1;
}

img.post_icon {
  width: 60px;
  border-radius: 10px;
  border: 2px #EEE solid;
  margin: 0 auto;
  margin-top: 0.4em;

  aspect-ratio: 1;
  background-color: white;
}

p.post_date {
  position: relative;
  color: black;
  font-size: 0.8em;
  font-weight: 700;
  width: fit-content;
  margin: auto;
}

p.post_date::before {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  border-bottom: 1px solid black;
}

.bookmark-bg {
  background-color: #ff0000ac;
  width: calc(100% - 4em);
  height: fit-content;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.bookmark-comment {
  background-color: white;
  width: fit-content;
  height: fit-content;
  position: relative;
  margin-top: 1em;
  max-width: 300px;
  padding: 1em;
  border-radius: 20px;
}

.bookmark-preview{
  width: 50%;
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .window-container {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  .window {
    margin: 0;
    width: 100%;
    scroll-snap-align: start;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .cover-branding {
    max-width: 37%;
    margin-left: 1em;
  }
  .cover { 
    margin-left: 1em;
  }
}
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.75em;
  }
  h2 {
    font-size: 1em;
  }
  a.wrapper-link {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
  }
  .cover-branding {
    display: none;
  }
  .banner {
    height: 140px;
    background-size: 100% auto;
    background-position-y: 27px;
  }
  .featured {
    flex-direction: column;
    margin-top: 2em;
  }
  .cover {
    max-width: none;
    float: none;
    margin-left: 0;
  }
  .cover-image {
    float: none;
    max-width: none;
  }
  .cover > h1 {
    text-align: left;
    margin: 0 1em;
  }
  .featured > .right {
    width: calc(100% - 2em);
    margin: 1em;
    border-top: #EEE solid 1px;
    border-bottom: #EEE solid 1px;
  }
  .windowEnd {
    display: none;
  }
  .window {
    border: none;
  }
}

@media only screen and (min-width: 750px) {
  .window:first-child {
    margin-left: 20px;
  }
}