body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  background-color: #DFAEF0;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
  margin: 0.5em 0;
}

h2 {
  font-size: 1.2em;
}

.tab-container {
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.tab {
  width: fit-content;
  padding: 0.1em 0.75em;
  border-radius: 0 0 10px 10px;
  border: 5px solid #6f6373;
  border-top: none;
  background-color: #6F6373;
  color: white;
}

.window-container {
  position: absolute;
  padding-bottom: 20px;
  bottom: 0;
  top: 40px;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.window {
  background: white;
  max-width: 1000px;
  height: calc(100% - 10px);
  margin: 0px 20px;
  padding: 1px;
  border-radius: 20px;
  border: solid 5px #6F6373;
  display: inline-block;
  width: 100%;
  white-space: wrap;
  overflow: auto;
}

@media only screen and (max-width: 1100px) {
  .window-container {
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  .window {
    margin: 0;
    width: calc(100% - 2px);
    scroll-snap-align: start;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

.featured {
  display: flex;
  margin-top: 65px;
}

.featured > .left {
  flex-grow: 1;
}

.cover {
  max-width: 400px;
  float: right;
}

.cover > img {
  width: 100%;
}

.cover > h1 {
  margin: 0;
  text-align: right;
}

.featured > .right {
  margin-left: 1.5em; 
  width: 40%;
}

.featured > .right > ol {
  margin-top: 40px;
}

.featured > .right > ol > li {
  margin: 30px 0;
  padding-left: 0.5em;
}

.featured > .right > ol > li::marker {
  font-size: 2em;
  font-weight: 800;
}

.featured > .right > ol >li > article {
  position: relative;
  bottom: 25px;
}

.featured > .right > ol > li > article > h1 {
  margin: 0;
  font-size: 1.2em;
}

.feed {
  padding: 1.5em;
}

.post-list {
  padding: 0;
  list-style: none;
}

.post {
  width: 100%;
  max-width: 400px;
  margin: 2em 0;
  display: flex;

}

.post_left {
  margin-right: 1em;
}

.post_right {
  width: 0;
  flex-grow: 1;
}

div.post_icon {
  width: 75px;
  border-radius: 10px;
  border: 2px #EEE solid;
  margin-top: 0.4em;

  aspect-ratio: 1;
  background-color: white;
}

a.post_link {
  width: 70%;
  display: block;
  color: black;
  font-weight: 700;
  font-size: 11px;
  white-space: nowrap;
  overflow: clip;
  text-overflow: ellipsis;
  text-decoration: none;
  position: relative;
}

a.post_link::before {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  border-bottom: 1px solid black;
}


p.post_date {
  position: relative;
  color: black;
  font-size: 0.8em;
  font-weight: 700;
  width: fit-content;
  margin: auto;
}

p.post_date::before {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  border-bottom: 1px solid black;
}