body {
    background-color: #CEE5FD;
}

.tab {
    border-color: #305478;
    background-color: #305478;
    color: white;
}

.window {
    background-color: #305478;
    border: solid 5px #305478;
}

.window-content {
    background-color: white;
}

.window-topbar {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.banner {
    height: 335px;
  
    background-image: url('https://www.tubbdoose.com/static/images/teabanner.png');
    background-size: contain;
}

.cover-branding {
    position: absolute;
    width: 250px;
    height: 315px;
    bottom: -50px;
    left: -160px;
  
    background-image: url('https://www.tubbdoose.com/static/images/intro.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
  
    z-index: 1;
}

img.post_icon {
    border-color: #EEE;
}

.bookmark-comment {
    background-color: white;
    border-radius: 20px;
}