body {
    background-color: #2C2C2C;
    background-image: url('/public/tile.svg');
}

.tab {
    border-color: #6f6373;
    background-color: #6F6373;
    color: white;
}

.window {
    background-color: #6F6373;
    filter: drop-shadow(0 3px 3px black);
    border-color: #6F6373;
}

.window-content {
    background-color: white;
}

.window-topbar {
    color: #aca5ae;
    text-decoration: none;
    font-weight: 600;
}

.banner {
    height: 281px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Ausblick_vom_Gipfel_der_K%C3%B6sseine.jpg');
    background-size: cover;
}
@media only screen and (min-width: 750px) {
.featured {
    margin-top: -150px;
}
.featured > .right {
    margin-left: 1.5em;
}
.featured > .right > ol {
    padding-left: 3.5em;
    margin-top: 4em;
}
.featured > .right > ol >li > article {
    margin-right: 2em;
}

.cover > .post_link {
    color: #e1e1e1;
}
}

.cover-branding {
    position: absolute;
    width: 165px;
    height: 315px;
    bottom: -40px;
    left: -100px;
    background-image: url('/public/bust.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    z-index: 1;
}

img.post_icon {
    border-color: #EEE;
}

.bookmark-comment {
    background-color: white;
    border-radius: 20px;
}